<div class="card">
  <div class="card-header">
    Manutenção das Telefones
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formTelefone" (ngSubmit)="onSubmit"  class="form-exemplo">
          <div style="display: none">
            <mat-form-field class="example-full-width">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CodigoArea</mat-label>
            <input type="text" matInput placeholder="Ex. 55" formControlName="codigoArea"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.codigoArea.hasError('codigoArea') && !getControl.codigoArea.hasError('required')">
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>DDD</mat-label>
            <input type="text" matInput placeholder="Ex: 66"  required  formControlName="DDD"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.DDD.hasError('DDD') && !getControl.DDD.hasError('required')">
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Numero</mat-label>
            <input type="text" matInput placeholder="Ex: 9877788-8955" required formControlName="numero"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.numero.hasError('numero') && !getControl.numero.hasError('required')">
            </mat-error>
          </mat-form-field>

          <hr>


        </form>
      </div>

    </div>

  </div>

</div>

