<div class="card">
  <div class="card-header">
    Manutenção dos Enderecos:
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formEndereco" (ngSubmit)="onSubmit"  class="form-exemplo">
          <div style="display: none">
            <mat-form-field class="example-full-width">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Rua</mat-label>
            <input type="text" matInput placeholder="Ex. Rua X" formControlName="rua"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.rua.hasError('rua') && !getControl.rua.hasError('required')">
              Digite uma Rua valida!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Numero</mat-label>
            <input type="text" matInput placeholder="Ex. 800" formControlName="numero"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.numero.hasError('numero') && !getControl.numero.hasError('required')">
              Digite uma Rua valida!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Complemento</mat-label>
            <input type="text" matInput placeholder="Ex: Perto da Loja de Roupa"  formControlName="complemento"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.complemento.hasError('complemento') && !getControl.complemento.hasError('required')">
              Digite um Complemento valido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Bairro</mat-label>
            <input type="text" matInput placeholder="Ex: Serra Azul"  formControlName="bairro"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.bairro.hasError('bairro') && !getControl.bairro.hasError('required')">
              Digite um Bairro valido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Cidade</mat-label>
            <input type="text" matInput placeholder="Ex: Lagoinha"  formControlName="cidade"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.cidade.hasError('cidade') && !getControl.cidade.hasError('required')">
              Digite uma Cidade valida!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input type="text" matInput placeholder="Ex: Mato Grosso"  formControlName="estado"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.estado.hasError('estado') && !getControl.estado.hasError('required')">
              Digite um Estado valido!
            </mat-error>
          </mat-form-field>

          <hr>

          <button mat-button type="submit" (click)="onSubmit()" color="primary"> Salvar </button>


        </form>
      </div>

    </div>

  </div>

</div>
