<div class="card">
  <div class="card-header">
    Manutenção das Viagens
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formViagem" (ngSubmit)="onSubmit"  class="form-exemplo">
          <div style="display: none">
            <mat-form-field class="example-full-width">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Hora da Partida</mat-label>
            <input type="text" matInput placeholder="Ex. 23:50" required formControlName="horaPartida"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.horaPartida.hasError('horaPartida') && !getControl.horaPartida.hasError('required')">
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Hora da Chegada</mat-label>
            <input type="text" matInput placeholder="Ex: 07:00"  required  formControlName="horaChegada"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.horaChegada.hasError('horaChegada') && !getControl.horaChegada.hasError('required')">
            </mat-error>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <mat-label>Data da Saida</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataSaida">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <mat-label>Data da Chegada</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataChegada">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Motorista</mat-label>
            <input type="text" matInput placeholder="Ex: Digite o ID de um Motorista já cadastrado!"  formControlName="motorista"
                   [errorStateMatcher]="matcher">
            <mat-error *ngIf="getControl.motorista.hasError('motorista') && !getControl.motorista.hasError('required')">
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Veiculo</mat-label>
            <input type="text" matInput placeholder="Ex: Digite o ID de um Veiculo já cadastrado!"  formControlName="veiculo"
                   [errorStateMatcher]="matcher">
            <mat-error *ngIf="getControl.veiculo.hasError('veiculo') && !getControl.veiculo.hasError('required')">
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Frete</mat-label>
            <input type="text" matInput placeholder="Ex: 1.6000" required formControlName="frete"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.frete.hasError('frete') && !getControl.frete.hasError('required')">
            </mat-error>
          </mat-form-field>

          <hr>

          <button mat-button type="submit" (click)="onSubmit()" color="primary"> Salvar </button>


        </form>
      </div>

    </div>

  </div>

</div>

