<div class="card">
  <div class="card-header">
    Manutenção das Cargas:
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formCarga" (ngSubmit)="onSubmit"  class="form-exemplo">
          <div style="display: none">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Peso</mat-label>
            <input matInput type="peso" placeholder="0">
            <span matPrefix>&nbsp;</span>
            <span matSuffix>Kilos</span>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Altura</mat-label>
            <input matInput type="altura" placeholder="0">
            <span matPrefix>&nbsp;</span>
            <span matSuffix>Metros</span>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Comprimento</mat-label>
            <input matInput type="comprimento" placeholder="0">
            <span matPrefix>&nbsp;</span>
            <span matSuffix>Metros</span>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Largura</mat-label>
            <input matInput type="largura" placeholder="0">
            <span matPrefix>&nbsp;</span>
            <span matSuffix>Metros</span>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Peso Cuabdo </mat-label>
            <input matInput type="pesoCubado" placeholder="0">
            <span matPrefix>&nbsp;</span>
            <span matSuffix>Kilos</span>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>TipoCarga</mat-label>
            <input type="text" matInput placeholder="Ex: Escreva dessa forma: fragil ou naoFragil"  required formControlName="tipoCarga"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.tipoCarga.hasError('tipoCarga') && !getControl.tipoCarga.hasError('required')">
              Digite um Tipo de Carga valido!
            </mat-error>
          </mat-form-field>

          <hr>

          <button mat-button type="submit" (click)="onSubmit()" color="primary"> Salvar </button>

        </form>
      </div>

    </div>

  </div>

</div>

