<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn$ | async" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div> class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Principal<span class="sr-only">(Atual)</span></a>
      </li>
    </ul>
    </div>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" *ngIf="isLoggedIn$ | async">Logout</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente">Clientes</a>
        </li>
      </ul>
    </div>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/endereco">Enderecos</a>
          </li>
        </ul>
      </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/motorista">Motoristas</a>
      </li>
    </ul>
  </div>
     <div>
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" routerLink="/carga">Cargas</a>
          </li>
        </ul>
      </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/telefone">Telefones</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/veiculo">Veiculos</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/viagem">Viagens</a>
      </li>
    </ul>
  </div>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente-detalhe" >Cadastrar Cliente</a>
        </li>
      </ul>
    </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/endereco-detalhe" >Cadastrar Endereco</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/carga-detalhe" >Cadastrar Carga</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/motorista-detalhe" >Cadastrar Motorista</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/telefone-detalhe" >Cadastrar Telefone</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/veiculo-detalhe" >Cadastrar Veiculo</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/viagem-detalhe" >Cadastrar Viagem</a>
      </li>
    </ul>
  </div>
</nav>

<body>
<div id="content" class="p-4 p-md-5 pt-5">
  <router-outlet></router-outlet>
</div>
</body>
