<div class="card">
  <div class="card-header">
    Manutenção dos Clientes:
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formCliente" (ngSubmit)="onSubmit"  class="form-exemplo">
          <div style="display: none">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Ex. Pedro" formControlName="nome"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.nome.hasError('nome') && !getControl.nome.hasError('required')">
              Digite um nome valida!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CPF</mat-label>
            <input type="text" matInput placeholder="Ex: 999.999.999-99"
                   mask="000.000.000-99" required  formControlName="cpf"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.cpf.hasError('cpf') && !getControl.cpf.hasError('required')">
              Digite um cpf valido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="Ex: email@hotmail.com"
                   attach="@hotmail.com" required formControlName="email"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.email.hasError('email') && !getControl.email.hasError('required')">
              Digite um e-mail valido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Endereco_id</mat-label>
            <input type="text" matInput placeholder="Ex: 1"  [errorStateMatcher]="matcher"
                   [errorStateMatcher]="matcher">
            <mat-error *ngIf="getControl.endereco_id.hasError('endereco_id') && !getControl.endereco_id.hasError('required')">
              Insira o ID de um Endereco já cadastro válido!
            </mat-error>
          </mat-form-field>

          <hr>

        </form>
      </div>

    </div>

  </div>

</div>
