<div class="card">
  <div class="card-header">
      Manutenção de Clientes:
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formCliente" (ngSubmit)="onSubmit"  class="form-exemplo">
          <div style="display: none">
            <mat-form-field class="example-full-width">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Ex. Pedro" formControlName="nome"
                   [errorStateMatcher]="matcher"
                   required>
            <mat-error *ngIf="getControl.nome.hasError('nome') && !getControl.nome.hasError('required')">
              Insira um nome válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input type="text" matInput placeholder="Ex: 999.999.999-99"  [errorStateMatcher]="matcher"
                   mask="000.000.000-99" required  formControlName="cpf">
            <mat-error *ngIf="getControl.cpf.hasError('cpf') && !getControl.cpf.hasError('required')">
              Insira um cpf válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="Ex: email@hotmail.com"  [errorStateMatcher]="matcher"
                   attach="@hotmail.com" required formControlName="email">
            <mat-error *ngIf="getControl.email.hasError('email') && !getControl.email.hasError('required')">
             Insira um e-mail válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>idTelefone</mat-label>
            <input type="text" matInput placeholder="Ex: 1"  [errorStateMatcher]="matcher"
                   [errorStateMatcher]="matcher"
                   required>
<!--                   mask="1" required  formControlName="idTelefone">-->
            <mat-error *ngIf="getControl.idTelefone.hasError('idTelefone') && !getControl.idTelefone.hasError('required')">
              Insira o ID de um Telefone já cadastro válido!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>idEndereco</mat-label>
            <input type="text" matInput placeholder="Ex: 1"  [errorStateMatcher]="matcher"
                   [errorStateMatcher]="matcher"
                   required>
<!--                   mask="1" required  formControlName="IdEndereco">-->
            <mat-error *ngIf="getControl.idEndereco.hasError('idEndereco') && !getControl.idEndereco.hasError('required')">
              Insira o ID de um Endereco já cadastro válido!
            </mat-error>
          </mat-form-field>


          <hr>

          <button mat-button type="submit" (click)="onSubmit()" color="primary"> Salvar </button>


        </form>
      </div>

    </div>

  </div>

</div>
